<section class="indexPage">
  <div ng-include="'partials/template/header.html'">
  partials/content/speakerslist.ejs
  <section class="layout">
    <div class="primary">
      partials/content/whoarewe.ejs
      partials/content/getbusy.ejs
      partials/content/whoshouldcome.ejs
    </div><!-- primary -->
    <aside class="secondary">
      partials/content/nextmeeting.ejs
      partials/content/socialmedia.ejs
      partials/content/artworklist.ejs
    </aside><!-- secondary -->
  </section>
  partials/template/footer.ejs
  partials/template/jsdefaults.ejs
</section>
